<footer>
  <div class="footer-container">
    <div class="footer-col">
      <h4>SOBRE</h4>
      <a routerLink="/sobre">Sobre a Blummy Brands</a>
      <a routerLink="/" fragment="catalogos">Lojas Parceiras</a>
      <a routerLink="/perguntas">Perguntas Frequentes</a>
    </div>
    <div class="footer-col">
      <h4>MEUS DADOS</h4>
      <a routerLink="/carrinho">Meus pedidos</a>
    </div>
    <div class="footer-col">
      <h4>POLÍTICAS</h4>
      <a routerLink="/frete">Entrega e Frete</a>
      <a routerLink="/pagamento">Pagamento</a>
      <a routerLink="/troca-devolucao">Trocas e Devoluções</a>
      <a routerLink="/termosuso">Termos de Uso</a>
    </div>
    <div class="footer-col">
      <h4>CONTATO</h4>
      <a href="#" target="_blank" rel="noopener">
        Whatsapp
      </a>
      <a class="instagram-link"
        href="#">
        Instagram
      </a>
      <a href="#" target="_blank" rel="noopener">
        Email
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Blummy Brands. Todos os direitos reservados.</p>
    <p>
      Site desenvolvido por
      <a class="linkedin-programador" href="https://www.linkedin.com/in/gabriel-milanez-626615338/" target="_blank"
        rel="noopener">Gabriel Milanez
      </a>
    </p>
  </div>
</footer>